.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 60px 0;
  @media (max-width: $bp-tablet) {
    flex-direction: column;
    gap: 24px;
  }
  &__text-container {
    display: flex;
    margin-top: 24px;
    gap: 16px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 510px;
  }
}
