.services-section {
  margin-bottom: 60px;
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  &__services {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
  }
  &__service {
    border: 1px solid $blue-button;
    border-radius: 12px;
    flex: 1;
    max-width: calc(25% - 24px);
    box-sizing: border-box;
    @media (max-width: $bp-tablet) {
      max-width: calc(50% - 24px);
    }
    @media (max-width: $bp-mobile) {
      max-width: 100%;
    }
  }
  &__service-content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 244px;
  }
  &__service-icon {
    width: 92px;
    height: 78px;
  }
  &__service-title {
    color: $dark-title;
    padding: 16px 0;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
  }
}
