$brand-color: #345867;
$orange: #fa7335;
$dark-title: #012e41;
$yellow: #ffbe0b;
$light-text: #f4f4f6;
$blue-button: #26a59e;
$very-light-gray: #e7e7e7;

$bp-desktop: 1200px;
$bp-tablet: 768px;
$bp-mobile: 480px;
