.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.big-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
